*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: verdana, sans-serif;
    font-size: 12px;
}


nav{
    background-color: #d20000;
}

nav li{
    display: inline-block;
}




nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover{
    background-color: rgb(94, 15, 15);
}

.menu li:last-child {
    float: right;
    background-color: #d84747;
}
.titulo-fantasia{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fantasia{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fant{
    border-radius: 25px;
    border: 3px solid #d20000;
    padding: 20px;
    width: 500px;
    height: 220px;
}

#remuneracaob{
    padding-top: 20px;
}

#solicitarb{
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #d20000;
        border: none;
        color: white;
        padding: 16px 32px;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    }
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: rgb(255, 255, 255);
    background-color: #d20000;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.centro-menu{
    margin-bottom: 13px;
}

.logos{
    display: inline ;
}

#user-active{
    position: absolute;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    border-radius: 0px 50px 50px 0px;
    background-color: #d9d9d9;
    margin-top: 10px;
}
#user-active img{
    height: 40px;
}

#barra-design{
    height: 40px;
    width: 100%;
}

#cps-logo{
    float: right;
    height: 100px;
    width: 180px;
}

#fant{
    display:inline-table;
    align-items: center;
}

form {
    padding-top: 50px;
    padding-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    padding-top: 50px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #d20000;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #721b1b;
}

.btn {
    width: 10%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4b5764;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d20000;
}