
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: verdana, sans-serif;
    font-size: 12px;
}

h2, h4 {
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: #3498db;
}


nav{
    background-color: #d20000;
}

nav li{
    display: inline-block;
}


nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover{
    background-color: rgb(94, 15, 15);
}

.menu li:last-child {
    float: right;
    background-color: #d84747;
}





a


.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: rgb(255, 255, 255);
    background-color: #d20000;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.centro-menu{
    margin-bottom: 13px;
}

.logos{
    display: inline ;
}

#user-active{
    position: absolute;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    border-radius: 0px 50px 50px 0px;
    background-color: #d9d9d9;
    margin-top: 10px;
}
#user-active img{
    height: 40px;
}

#barra-design{
    height: 40px;
    width: 100%;
}

#cps-logo{
    float: right;
    height: 100px;
    width: 180px;
}

#fant{
    display:inline-table;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[onclick] {
    color: #f44336;
}

a[onclick]:hover {
    text-decoration: underline;
}

.btn {
    width: 10%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4b5764;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d20000;
}